.row {
    width: 100%;
    margin-bottom: 1%;
}
.container {
    margin: 0 auto;
}
.column {
    float: left;
    margin: 1% 0 1%;
    width: 100%;
}

/* * Phone * */
@media screen and (max-width: 600px) {
  .container {
    width: 96%;
  }
}

/* * Tablet * */
@media screen and (min-width: 601px) {
  .container {
    width: 600px;
  }
  .column.two {
    width: 49%;
    margin: 1%;
  }
  .column.two:first-child {
    margin-left: 0
  }
  .column.two:last-child {
    margin-right: 0;
  }
  .column.three {
    width: 49%;
    margin: 1%;
    margin-right: 0;
  }
  .column.three:first-child {
    margin-left: 0;
    margin-right: 1%;
  }
  .column.three:last-child {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .column.four {
    width: 49%;
    margin: 1%;
  }
  .column.four:nth-child(2n+1) {
    margin-left: 0;
  }
  .column.four:nth-child(2n+0) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    width: 1024px;
  }
  .column.three {
    width: 32%;
    margin-right: 1%;
  }
  .column.three:last-child {
    width: 32%;
    margin-left: 1%;
  }
  .column.four,
  .column.four:nth-child(2n+1),
  .column.four:nth-child(2n+0) {
      width: 23.5%;
      margin: 1%;
  }
  .column.four:first-child {
      margin-left: 0;
  }
  .column.four:last-child {
      margin-right: 0;
  }
}

@media screen and (min-width: 1441px) {
  .container {
    width: 1440px;
  }
}
